# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.suo
*.log
*.tlog
*.idb
*.pdb
*.ilk
*.lastbuildstate
RenderingTest/.vs/RenderingTest/v15/ipch/AutoPCH/b57a10cb85fd608e/MAINRENDERWIN.ipch
RenderingTest/.vs/RenderingTest/v15/ipch/AutoPCH/8786a6d8a39a4419/SCENE.ipch
RenderingTest/.vs/RenderingTest/v15/Browse.VC.db
RenderingTest/.vs/RenderingTest/v15/.suo
RenderingTest/RenderingTest/Debug/RenderingTest.log
RenderingTest/RenderingTest/Debug/RenderingTest.tlog/CL.command.1.tlog
RenderingTest/RenderingTest/Debug/RenderingTest.tlog/CL.read.1.tlog
RenderingTest/RenderingTest/Debug/RenderingTest.tlog/CL.write.1.tlog
RenderingTest/RenderingTest/Debug/RenderingTest.tlog/link.command.1.tlog
RenderingTest/RenderingTest/Debug/RenderingTest.tlog/link.read.1.tlog
RenderingTest/RenderingTest/Debug/RenderingTest.tlog/link.write.1.tlog
RenderingTest/RenderingTest/Debug/RenderingTest.tlog/RenderingTest.lastbuildstate
RenderingTest/RenderingTest/Debug/vc141.idb
RenderingTest/RenderingTest/Debug/vc141.pdb
RenderingTest/RenderingTest/x64/Debug/RenderingTest.log
RenderingTest/RenderingTest/x64/Debug/RenderingTest.tlog/CL.command.1.tlog
RenderingTest/RenderingTest/x64/Debug/RenderingTest.tlog/CL.read.1.tlog
RenderingTest/RenderingTest/x64/Debug/RenderingTest.tlog/CL.write.1.tlog
RenderingTest/RenderingTest/x64/Debug/RenderingTest.tlog/link.command.1.tlog
RenderingTest/RenderingTest/x64/Debug/RenderingTest.tlog/link.read.1.tlog
RenderingTest/RenderingTest/x64/Debug/RenderingTest.tlog/link.write.1.tlog
RenderingTest/RenderingTest/x64/Debug/RenderingTest.tlog/RenderingTest.lastbuildstate
RenderingTest/RenderingTest/x64/Debug/vc141.idb
RenderingTest/RenderingTest/x64/Debug/vc141.pdb
RenderingTest/x64/Debug/RenderingTest.ilk
RenderingTest/x64/Debug/RenderingTest.pdb
*.opendb
RenderingTest/RenderingTest/RenderingTest.vcxproj
RenderingTest/RenderingTest/RenderingTest.vcxproj.filters
